<h3>{{article.headline}}</h3>
<div class="author">
  <p>
    {{article.author}}
  </p>
  <p>
    {{article.time}}
  </p>
  <p>
    {{article.category}}
  </p>
</div>
<img src={{article.image}} alt="" />

<p>
  {{article.body}}
</p>
