<div class="article col-sm-4">
  <img src={{article.image}} alt={{article.headline}} class="articleImg" />
  <h5>
    {{article.headline}}
  </h5>
  <hr>
  <p class="footerAuthor">
    {{article.author}}
  </p>
  <p class="footerTime">
    {{article.time}}
  </p>
</div>
